/* frontend/src/Preconfs.css */

:root {
  --color-background: #0e131a;
  --color-text: #fff;
  --color-primary: #E97D25;
  --color-secondary: #2c3e50;
  --color-primary-hover: #e99149;
  --color-secondary-hover: #3a506b;
  --color-selected: #4a5d7d;
  --color-details: #1e2a3a;
  --color-code-background: #0d1b2a;
  --color-border: #0e131a;
}

.Preconfs {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  color: var(--color-text);
}

.table-container {
  overflow-x: auto;
}

.preconfs-table {
  border-collapse: collapse;
  width: 100%;
  color: var(--color-text);
}

.preconfs-table th {
  cursor: pointer;
  user-select: none;
  position: relative;
  color: var(--color-text);
  background-color: var(--color-primary);
  transition: background-color 0.3s ease;
}

.preconfs-table th:hover {
  background-color: var(--color-primary-hover);
}

.preconfs-table th::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: var(--color-primary);
  cursor: col-resize;
}

.preconfs-table th,
.preconfs-table td {
  border: 1px solid var(--color-border);
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preconfs-table tr:not(.details-row):nth-child(odd) {
  background-color: var(--color-background);
}

.preconfs-table tr:not(.details-row):nth-child(even) {
  background-color: var(--color-secondary);
}

.preconfs-table tr:hover {
  background-color: var(--color-secondary-hover);
}

.preconfs-table tr:not(.details-row):hover {
  background-color: var(--color-secondary-hover);
  cursor: pointer;
}

.preconfs-table tr.selected {
  background-color: var(--color-selected);
}

.details-row pre {
  background-color: var(--color-code-background);
  color: var(--color-text);
  padding: 10px;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 12px;
  overflow-x: auto;
  max-height: 200px;
  overflow-y: auto;
}

.preconfs-table tr.details-row {
  background-color: var(--color-details);
}
